@use "colors";

.btn {
    padding: 1rem 1.625rem;
    border-radius: 0.5rem;
    min-width: fit-content;

    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    @media (max-width: 480px) {
        padding: 0.6875rem 0.875rem;
    }

    &--primary {
        background-color: colors.$main;
        color: colors.$white;

        &:hover {
            background-color: colors.$main-light;
            color: colors.$white;
        }
    }

    &--secondary {
        background-color: colors.$light-gray;
        color: colors.$quite-black;

        &:hover {
            background-color: colors.$quite-black;
            color: colors.$white;
        }
    }
}
