.header {
    padding: 3.4375rem 0 5.1875rem;

    @media (max-width: 976px) {
        padding: 2.5rem 0 3.875rem;
    }

    @media (max-width: 480px) {
        padding: 1.4375rem 0 4rem;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 2.5rem;
    }
}
